{% extends "base.html" %}

{% block header %}Search Items{% endblock %}

{% block content %}
<div class="search-container">
    <div class="settings-form">
        <!-- <div class="form-group">
            <label for="name-selection">Name</label>
            <select id="name-selection" class="name-dropdown">
                <option value="">All Names</option>
                {% for name in names %}
                <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div> -->

        <!-- <div class="form-group">
            <label for="rarity-selection">Rarity</label>
            <select id="rarity-selection" class="rarity-dropdown">
                <option value="">All Rarities</option>
                <option value="0">None</option>
                <option value="0">Poor</option>
                <option value="0">Common</option>
                <option value="1">Uncommon</option>
                <option value="2">Rare</option>
                <option value="3">Epic</option>
                <option value="4">Legend</option>
                <option value="1">Unique</option>
                <option value="5">Artifact</option>
            </select>
        </div> -->

        <!-- <h2>Rarity</h2>
    <select id="rarity-selection" class="rarity-dropdown">
        <option value="">All Rarities</option>
        <option value="0">None</option>
        <option value="0">Poor</option>
        <option value="0">Common</option>
        <option value="1">Uncommon</option>
        <option value="2">Rare</option>
        <option value="3">Epic</option>
        <option value="4">Legend</option>
        <option value="1">Unique</option>
        <option value="5">Artifact</option>
    </select>

    <h2>Enchantments</h2>
    <div id="sp-container">No rarity selected.</div>
    <br><br>

    <input type="text" class="search-input" placeholder="Search for items across all characters..." id="searchInput"> -->

        <!-- <div class="form-group">
            <label for="sp-container">Enchantments</label>
            <div id="sp-container">No rarity selected.</div>
        </div> -->
        <h2>Search</h2>
        <div class="instructions-panel">
            <h3>Instructions</h3>
            <ol>
                <li>Capture the characters whose stashes you want to search, you can check captured characters in the
                    Characters section.</li>
                <li>Enter keywords separated by commas.</li>
                <li>When a similar item is found, it will appear in the list.</li>
            </ol>
            <h3>Example</h3>
            <div class="form-group">
                <input type="text" class="settings-input" value="barbuta helm, rare, agility" readonly>
            </div>
        </div>

        <div class="form-group">
            <input type="text" class="settings-input" placeholder="Search for items across all characters..."
                id="searchInput">
        </div>
    </div>

    <div class="search-results" id="searchResults"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}